### Algebric Operation

In [1]:
# as a calculator
5 + 10

15

In [2]:
8 - 19

-11

In [3]:
8 * 7

56

In [4]:
49 / 7

7.0

In [5]:
25 // 3

8

In [6]:
25 % 3

1

In [7]:
6**3

216

In [8]:
pow(6, 3)

216

### Defining a variable

In [ ]:
# python is case sensitive
# variable name starts with alphabet or underscore only
# number can be anywhere other than at start
# dont use special charectors other than underscore

In [9]:
my_var = 'correct'
_my1var = 'also correct'
_1myvar1 = 'you can'
_1_my1_ = 'possible'

In [10]:
# You cant define Variables like this
1myvar = 'error not possible'
my@var = 'dont use other than underscore'

SyntaxError: invalid syntax (<ipython-input-10-49fdc258b2be>, line 2)

### Assigning the Value

In [ ]:
# python reads RHS and assign it to LHS
#object oriented language
#

In [11]:
a = 10
b = 259
c = 'string_object'
d = ['Digambara', 'Savarkar', 'Sardar Patel', 78, 29.7, True]
e = (1, 2, 4.5, True, 'Savarkar', 'Sardar Patel')
f = {'set1', (1, 2, 3, 'python')}
g = {1: 2, 'hey': 'Datta'}

In [12]:
## swapning the values

temp = a
a = b
b = temp

print('New Value of a is :', a)
print('New Value of b is :', b)

New Value of a is : 259
New Value of b is : 10

In [13]:
# new value assignment to variable - swapping the values
a = 'i am A'
b = 'i am B'

a, b = b, a

print('New Value of a is :', a)
print('New Value of b is :', b)

New Value of a is : i am B
New Value of b is : i am A

In [14]:
# no of variables must be equal to no of values while assigning
x, y, z = 10, 20, 35

In [15]:
x = 15
y = 25
x, x, y = y + x, y - x, y * x  # 15,15,25 = 40,10,375  0verwrite of x

In [16]:
a, b, c = [1, 2, 3]
x, y, z = (5, 7, 9)

In [17]:
a, b, c

(1, 2, 3)

In [18]:
x, y, z

(5, 7, 9)

In [19]:
a, b, c = 'python', 'Java', 'C++'

In [20]:
d, e, f = {'python', 'Java', 'C++'}

d, e, f

('C++', 'Java', 'python')

In [21]:
g, h, i = {'k': 1, 'l': 2, 'm': 3}

g, h, i

('k', 'l', 'm')

## Data Types

### Integer ( Whole Number / Discrete)

In [22]:
a = 101
type(a)

int

In [23]:
b = 10100000000010100117189387
type(b)

int

### Float ( Real No / Continuous )

In [24]:
a = 20.5
type(a)

float

In [25]:
b = 207.7829773
type(b)

float

### Complex

In [53]:
compl = 1 + 5j

In [ ]:
# 1+5j -- complex no
# 1 real part
# imaginary part is shown by j

In [54]:
type(compl)

complex

### String - collection of charachers

In [26]:
a = 'ram'
b = "welcome to python course"
c = ''' Hello !! '''

d = '''Hey we are checking 
Multi 
Line 
String'''
#if it has not been assigned to some variable it would be doc string

In [27]:
a * 3

'ramramram'

In [28]:
a + b

'ramwelcome to python course'

In [29]:
# not possible
a * b

TypeError: can't multiply sequence by non-int of type 'str'

In [30]:
# not possible
a - a

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [55]:
# not possible
a - 3

NameError: name 'a' is not defined

In [31]:
a * 0
# null string

''

In [32]:
a * -1
# null string

''

In [33]:
a.upper()

'RAM'

In [34]:
a.lower()

'ram'

In [35]:
a.capitalize()

'Ram'

In [36]:
# The isalpha() methods returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”
a.isalpha()

True

In [37]:
c = 'Class starts at 7 am everyDAY'
c.isalpha()

False

In [38]:
#checks whether all the characters in a given string are alphanumeric or not.
#Alphanumeric means a character that is either a letter or a number.

a.isalnum()
# all are letter

True

In [39]:
c.isalnum()
# combination of letter & number hence false

False

In [40]:
c.isnumeric()

False

In [41]:
d = '5445'
d.isnumeric()

True

In [2]:
dig = 'checking digit 123 '
dig1 = '431506'

print('1', dig.isdigit())
print('2', dig1.isdigit())

1 False
2 True

In [ ]:
### String Slicing

# in python Indexing always starts from 0 to length-1
# [start: end : stepsize]  -- end position is exclusive
# by defalut step size is 1
# step size 0 - it will be at that position only
# step size == positive - moves in right direction  eg. 2,3
# step size == negative - moves in left direction  eg.-1,-2
# what ever written inside " " is considered as character

In [3]:
b = "welcome to python course"
b[0]

'w'

In [4]:
# throws error as last index is 23 - after that error but in sclicing automatically takes last
b[24]

IndexError: string index out of range

In [5]:
b[:24:]

'welcome to python course'

In [6]:
b[:124:]

'welcome to python course'

In [43]:
b[:7:]

'welcome'

In [44]:
b[::-1]

'esruoc nohtyp ot emoclew'

In [45]:
b[2:-1:1]

'lcome to python cours'

In [46]:
b[::3]

'wceoyocr'

In [47]:
# Palindrom
a = "nitin"
a[::-1]

'nitin'

In [48]:
a == a[::-1]

True

In [49]:
# measures the characters inside the string
len(b)

24

In [ ]:
# ways to find the Index of character

# Find - if present returns the index no & if not returns -1
# string.find(letter,start,end) - by default start:0 & end : -1 

# index -if present returns the index no & if not returns - error
# index is used to find out multiple / duplicate occurance

In [50]:
b = "welcome to python course"

b.find('o')

4

In [51]:
# 2nd occurance but we should know the start & stop
b.find('o', 5, -1)

9

In [52]:
b.index('e')

1

In [53]:
# 2nd occurance
b.index('e', 2)

6

In [54]:
# a is not present - returns error
b.index('a')

ValueError: substring not found

In [55]:
# a is not present - returns -1
b.find('a')

-1

In [ ]:
# use find for 1st occurance for other use Index

In [56]:
# count measures the frequency

b.count('e')

3

In [58]:
# cant copy string
a = 'ram'
b = a.copy()
b

AttributeError: 'str' object has no attribute 'copy'

In [57]:
#escape sequence

p = 'hello, we will learn "Python" in this class'

q = "hello, we will learn 'Python' in this class"

string = '''I'm a "Tech Geek"'''

print(p)
print(q)
print(string)

hello, we will learn "Python" in this class
hello, we will learn 'Python' in this class
I'm a "Tech Geek"

In [58]:
p == q

False

In [59]:
# what ever written inside " " is considered as character
"'" == '"'

False

In [60]:
a = 'Ram\'s father is very Brave'

In [61]:
#write in new line
story = '''Harry is good. 
He is very good.
he is very helpful'''
story

'Harry is good. \nHe is very good.\nhe is very helpful'

In [62]:
# write inside fun etc - DOC STRING - comment
''' also used to write the comment if not assigned (no LHS)'''

' also used to write the comment if not assigned (no LHS)'

In [63]:
story = 'Harry is good.\
He is very good'

story

'Harry is good.He is very good'

#### Misc. strings

* r- Raw String. Treat the string as it is. Don't escape any character
* USED TO REDUCE THE ESCAPES SEQUENCE MULTIPLE TIME

In [19]:
location = " C:\newfolder\users\training\python\test"
location

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 13-14: truncated \uXXXX escape (<ipython-input-19-d28fabe5340b>, line 1)

In [20]:
# mention escape character at each point
location = " C:\\newfolder\\users\\training\\python\\test"
location

' C:\\newfolder\\users\\training\\python\\test'

In [18]:
# Raw String
location = r" C:\newfolder\users\training\python\test"
location

' C:\\newfolder\\users\\training\\python\\test'

In [ ]:
#The string strip() function by default removes the leading and trailing white space characters from the end of a string.
#We can use the optional character argument if we want to remove a specific character from the start and end of a string.

## remove white spaces (if characters not mentioned) from
#strip() -- both ends of a string
#lstrip() -- the beginning only  (left)
# rstrip() -- the end only. (right)

In [64]:
s = ' white space before & after   '
s.strip()

'white space before & after'

In [65]:
# does not remove mid #, only start & end -> takes one character at a time

s = '## specific character now ## with space at end  '
s.strip('#')

' specific character now ## with space at end  '

In [66]:
s = '## specific character now ## with space at end  '
s.strip('#', '')

# cant remove both at a time

TypeError: strip expected at most 1 argument, got 2

In [67]:
# original string remains unmodified
s.strip()

'## specific character now ## with space at end'

In [68]:
n = ' white space before & after   '
n.lstrip()

'white space before & after   '

In [69]:
n = ' white space before & after   '
n.rstrip()

' white space before & after'

In [ ]:
############### string formating for print ###############

In [70]:
a = '{}{}{}'.format('name', 'age', 'town')

In [71]:
a

'nameagetown'

In [72]:
# index 
a = '{1} is 25 & Pankaj is my {0}, Pathri is my home{2}'.format('name', 'age', 'town')
a

'age is 25 & Pankaj is my name, Pathri is my hometown'

In [73]:
# Keyword Formatting
String1 = "{l} {f} {g}".format(g='Tech Geek', f='for ', l='Entire Life')
String1

'Entire Life for  Tech Geek'

In [74]:
del String1

In [75]:
# now if you print String1 u will get error

String1

NameError: name 'String1' is not defined

In [76]:
# replace(old,new)

s = 'I like playing Cricket'

s.replace("Cricket", 'Hockey')

'I like playing Hockey'

In [ ]:
#startswith & Endswith - True or False

In [77]:
a = 'Harry wants Chocolates'

a.startswith('H')

True

In [78]:
a.endswith('s')

True

In [79]:
# enumerate - adds counter

string1 = 'Pankaj'

list(enumerate(string1))

# for string - (counter,character)

[(0, 'P'), (1, 'a'), (2, 'n'), (3, 'k'), (4, 'a'), (5, 'j')]

In [80]:
#SPLIT the string - converts in list

pank = 'Line1-abcd\nline2-efgh\nline3ijkl\nline4mnop'

pank.split('\n')

['Line1-abcd', 'line2-efgh', 'line3ijkl', 'line4mnop']

In [81]:
# SPlit
x, y = "200,150".split(',')
print(x)
print(y)

200
150

In [ ]:
#join - conversion of list element to string

## Lists
* Ordered Collection of items/elements/objects
* Syntax: [ ]
* MUTABLE
*list contais all the data types - int,float,string,complex,list,tuple,set,dict

In [82]:
l = [101, 205.27, True, False, ['hey', 11, False], 'Datta', 1 + 5j]

In [83]:
# Tuple inside list
lt = [101, 205.27, True, False, ['hey', 11, False], 'Datta', 1 + 5j, (5, 6, 7)]

In [84]:
lt = [(5, 6, 7), {3, 2, 3}]

In [85]:
new = [(5, 6, 7), {3, 2, 3}, {'key': 'Value', 'key2': 'Value2'}]

In [86]:
b = [1, 2, 3]
b + b

[1, 2, 3, 1, 2, 3]

In [87]:
b * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [88]:
# gets null List
b * 0

[]

In [89]:
# gets null List
b * -1

[]

In [90]:
# not possible
b - b

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [91]:
# not possible
b * b

TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
### List Methods

#To ADD to List
# append - adds at last index  - Considered as single element - len is same
# insert - adds at given index  - Considered as single element - len is same ( index, Value)
# extend - adds at last index but as individual character - len inc by that added obj len

In [92]:
c = [12, 3, 4]
c.append(['str', 77])

In [93]:
c

[12, 3, 4, ['str', 77]]

In [94]:
# infinite loop
c.append(c)
c

[12, 3, 4, ['str', 77], [...]]

In [95]:
c[3]

['str', 77]

In [96]:
c[4]

[12, 3, 4, ['str', 77], [...]]

In [97]:
#inside the infinite loop  -- loop is cont in at index 4
c[5]

IndexError: list index out of range

In [98]:
#inside the infinite loop
c[4][1]

3

In [99]:
c.insert(0, 'new')
c

['new', 12, 3, 4, ['str', 77], [...]]

In [100]:
ls = [1, 2, 3, 4]

ls.extend(['hey', True, (1, 2, 3)])
ls

[1, 2, 3, 4, 'hey', True, (1, 2, 3)]

In [101]:
l = [7, 8, 9.9, 27]

l.extend((1, 2, 3))
l

[7, 8, 9.9, 27, 1, 2, 3]

In [ ]:
# extend takes one argument either list or Tuple

In [ ]:
### To REMOVE from List

#pop - removes from given index - list.pop(index)            --- returns pop out value
#remove - removes the value - list.remove(Mention value)     --- does not returns pop out value
# del list[index]   - square braces                          --- does not returns pop out value  -- multiple possible
# clear - returns null list

In [1]:
lang = ['c', 'c++', 'java', 'c#', 'python', 'english', 'Marathi', 'Hindi']

In [2]:
# deleting multiple values inside the list
del lang[-3:]

In [3]:
lang

['c', 'c++', 'java', 'c#', 'python']

In [5]:
del lang[2]

In [6]:
lang

['c', 'c++', 'c#', 'python']

In [48]:
c = [1, 2, 3, 4, 45, 5, 8, 7, 6, 11, 13, 12, 16, 19, 21, 33, 27, 38, 34]
del c
c

NameError: name 'c' is not defined

In [7]:
lang.pop(-2)

'c#'

In [8]:
lang

['c', 'c++', 'python']

In [9]:
lang.remove('c')

In [10]:
lang

['c++', 'python']

In [102]:
# if not mentioned index removes last - default index = -1
ls.pop()
ls

[1, 2, 3, 4, 'hey', True]

In [103]:
ls.pop(2)
ls

[1, 2, 4, 'hey', True]

In [104]:
ls.remove('hey')
ls

[1, 2, 4, True]

In [105]:
ls.clear()

In [106]:
ls

[]

In [107]:
### copy the list
e = [1, 3, 5, 7, 9, 11, 13, 15]
f = e.copy()
f

[1, 3, 5, 7, 9, 11, 13, 15]

In [108]:
e == f

True

In [109]:
# count - Measures the frequency -  list.count(value)

e.count(7)

1

In [110]:
# index - shows the index of that value  - list.index(value)
f.index(7)

3

In [111]:
a = ["bee", "ant", "moth", "ant"]
print(a.index("ant"))
print(a.index("ant", 2))

1
3

In [112]:
# reversing the order
e.reverse()
e

[15, 13, 11, 9, 7, 5, 3, 1]

In [ ]:
# sorting assending / decending = # inplace sorting - original list gets modified

In [113]:
L = [1, 8, 7, 2, 21, 15]
L.sort()  # inplace sorting - original list gets modified
L

[1, 2, 7, 8, 15, 21]

In [114]:
L.sort(reverse=True)
L

[21, 15, 8, 7, 2, 1]

In [115]:
# sorted fun for list & Tuple but sort cant be for tuple as it is immutable
# in sort it changes original list but original tuple cant be changed as it is immutable
# so "sorted" is used  - It is 'Not in place' sorting
sorted(L)

[1, 2, 7, 8, 15, 21]

In [116]:
# enumerate - adds counter

lst = ['Pankaj', 'is', 'a', 'good', 'boy']

list(enumerate(lst))

# for List - (counter,character)  - compare with string

[(0, 'Pankaj'), (1, 'is'), (2, 'a'), (3, 'good'), (4, 'boy')]

In [ ]:
### List Slicing
# similar to string

In [117]:
List1 = [1, 2, 3, 4, 5, [6, 7, 8, 9, 10, 11, 12]]

List1[-1][1]

7

In [118]:
# not stored until assigned
List1[::-1]

[[6, 7, 8, 9, 10, 11, 12], 5, 4, 3, 2, 1]

In [119]:
List1

[1, 2, 3, 4, 5, [6, 7, 8, 9, 10, 11, 12]]

In [120]:
List1[2::2]

[3, 5]

In [121]:
List1[4::-1]

[5, 4, 3, 2, 1]

In [122]:
Lst = [1, 2, 3, 4, 5, (6, 7, 8)]
Lst[-1]

(6, 7, 8)

In [123]:
# accesing the Tuple inside the list
Lst[-1][1]

7

In [124]:
#len - measures no of items inside list
len(List1)

6

In [125]:
# max - returns max in list
L = [1, 8, 7, 2, 21, 15]
max(L)

21

In [126]:
# min - returns min in list
min(L)

1

In [127]:
# Range - range(start,end,step size)   - same as indexing

range(1, 11)

range(1, 11)

In [128]:
# always to see the result we have to make a list of the range function like enumerate
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [129]:
### converting back to string

string1 = 'Hello'
list(string1)

['H', 'e', 'l', 'l', 'o']

In [130]:
#converting list back to string

"".join(string1)

'Hello'

In [131]:
"*".join(string1)

'H*e*l*l*o'

In [7]:
lang = ['Pascal', 'C', 'Cpp', 'Ruby', 'Java', 'C#', 'Golang', 'Scala', 'Python']

In [8]:
lang.find('c')

AttributeError: 'list' object has no attribute 'find'

In [9]:
# To find use in / not in operator
"c" in lang

False

In [10]:
"C" in lang

True

## Tuples
* Ordered Collection of items/objects/elements
* Syntax: ( )
* IMMUTABLE - like String - altering / modifying not allowed
* Tuple contains all the data types - int,float,string,complex,list,tuple,set,dict

In [132]:
Tup = (101, 205.27, True, False, ['hey', 11, False], 'Datta', 1 + 5j)

In [133]:
# Tuple & List inside Tuple
lt = (101, 205.27, True, False, ['hey', 11, False], 'Datta', 1 + 5j, (5, 6, 7))

In [134]:
# Dict, Set inside a Tuple
new = [(5, 6, 7), {3, 2, 3}, {'key': 'Value', 'key2': 'Value2'}]

In [135]:
### Advantages of Tuple over List

# more memory efficient
# process faster than List - less time
# Immutable - cant change over time

In [136]:
### Single element Tuple  Null - (), single - (1,)
a = ("god")
b = ("god", )

print(type(a))
print(type(b))

<class 'str'>
<class 'tuple'>

In [137]:
Tup.index(True)

2

In [138]:
Tup.count(True)

1

In [139]:
# occurance of object
t = (1, 2, 3, 4, 5, 2, 3, 8, 10, 2)
t.index(2, 2)

5

In [140]:
# Slicing of Tuple - Same as before

Tup[::-1]

((1+5j), 'Datta', ['hey', 11, False], False, True, 205.27, 101)

In [141]:
Tup[3::2]

(False, 'Datta')

In [142]:
t = (101, 202, ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"])

t[2][1]

'Tuesday'

In [143]:
### updating the list inside the tuple

t[2][1] = 'TUESDAY'
t

(101, 202, ['Monday', 'TUESDAY', 'Wednesday', 'Thursday', 'Friday'])

In [144]:
a = (1, 2, 3)
a + a

(1, 2, 3, 1, 2, 3)

In [145]:
a * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [146]:
# not possible
a * a

TypeError: can't multiply sequence by non-int of type 'tuple'

In [147]:
# not possible
a - a

TypeError: unsupported operand type(s) for -: 'tuple' and 'tuple'

In [148]:
# null tuple
a * 0

()

In [149]:
# null tuple
a * -1

()

In [150]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'geek')
Tuple3 = (Tuple1, Tuple2)
Tuple3

((0, 1, 2, 3), ('python', 'geek'))

In [151]:
#len
len(Tup)

7

In [152]:
tup = (21, 65, 87, 37, 88.8, 94)
max(tup)

94

In [153]:
min(tup)

21

In [154]:
# enumerate
a = ("bee", "ant", "moth", "ant")

list(enumerate(a))

[(0, 'bee'), (1, 'ant'), (2, 'moth'), (3, 'ant')]

In [155]:
tuple(enumerate(a))

((0, 'bee'), (1, 'ant'), (2, 'moth'), (3, 'ant'))

In [156]:
# sorted to sort for tuple not Sort like list - it is 'not inplace sorting' 

tupl = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sorted(tupl)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
a = ("bee", "ant", "moth", "ant")
sorted(a)

['ant', 'ant', 'bee', 'moth']

In [158]:
sorted(tupl, reverse=True)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [159]:
a = ("bee", "ant", "moth", "ant")
sorted(a, reverse=True)

['moth', 'bee', 'ant', 'ant']

In [ ]:
# Sorted(seq,key=attrgetter/itemgetter / fun, reverse=True/False)

In [11]:
tupl = (1, 2, 3, 4, 5, 6, 7, 8, 9)
tup_copy = tupl.copy()

AttributeError: 'tuple' object has no attribute 'copy'

In [12]:
tupl.find(2)
# in / not in

AttributeError: 'tuple' object has no attribute 'find'

In [56]:
tup_clr = (21, 65, 87, 37, 88.8, 94)

In [57]:
tup_clr.clear()

AttributeError: 'tuple' object has no attribute 'clear'

### Packing

In [13]:
rs = "Rohit", 39, "MUM"

In [14]:
rs

('Rohit', 39, 'MUM')

In [15]:
type(rs)

tuple

In [16]:
speed = "fast"

In [17]:
type(speed)

str

In [18]:
speed = "slow",

In [19]:
type(speed)

tuple

## Sets
* A unique / no repetition  collection of IMMUTABLE items/objects 
* Syntax: { }
* MUTABLE
* unordered

* set contains only int,float,complex,string,tuple

**SET DOES NOT CONTAINS THE SET,DICT,LIST Inside SET  - mutable in set is not possible

In [160]:
set1 = {'st', 1, 21.6,True, (1, 2, 3)}

In [22]:
# repeatation are not allowed
set1 = {'st', 1, 21.6, (1, 2, 3), 1, 'st'}

In [23]:
set1

{(1, 2, 3), 1, 21.6, 'st'}

In [24]:
st = {True, 44, 67.5}
st

{True, 44, 67.5}

In [25]:
s = {'st', True, False, 21.5}
s

{21.5, False, True, 'st'}

In [165]:
### We cant write List or Dictiories inside the set ( both are mutable)

# LIST INSIDE THE SET
s = {32, 47.4, True, [1, 2, 3]}

TypeError: unhashable type: 'list'

In [166]:
# DICT INSIDE THE SET
s = {32, 47.4, True, {'key': 'value'}}

TypeError: unhashable type: 'dict'

In [167]:
# SET INSIDE SET
se = {1 + 2j, 22, 28, 30.5, 'set inside set', {1, 2, 3, 4}, 'possible or not'}

TypeError: unhashable type: 'set'

In [168]:
s = {1 + 7j}

In [169]:
#null Set
s = set()
type(s)

set

In [170]:
lst = [1, 2, 3, 4]
set(lst)

{1, 2, 3, 4}

In [171]:
a = set(lst)
a

{1, 2, 3, 4}

In [172]:
a.add(5)
a

{1, 2, 3, 4, 5}

In [173]:
# add takes one argument only i.e Tuple or int or float or complex or string
a.add(('str', 1, 32.2))
a

{('str', 1, 32.2), 1, 2, 3, 4, 5}

In [23]:
c = set('BANGLORE')
c

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [24]:
d = set('SINGAPORE')
d

{'A', 'E', 'G', 'I', 'N', 'O', 'P', 'R', 'S'}

In [ ]:
######################### by operators    ################

In [25]:
# c or d --- union
c | d

{'A', 'B', 'E', 'G', 'I', 'L', 'N', 'O', 'P', 'R', 'S'}

In [26]:
## c and d -- intersection
c & d

{'A', 'E', 'G', 'N', 'O', 'R'}

In [27]:
### c-d (unique in c)
c - d

{'B', 'L'}

In [28]:
# d-c unique in d
d - c

{'I', 'P', 'S'}

In [ ]:
################# functions ###########################

In [29]:
c.union(d)

{'A', 'B', 'E', 'G', 'I', 'L', 'N', 'O', 'P', 'R', 'S'}

In [30]:
c.intersection(d)

{'A', 'E', 'G', 'N', 'O', 'R'}

In [31]:
c.difference(d)

{'B', 'L'}

In [32]:
d.difference(c)

{'I', 'P', 'S'}

In [33]:
len(c | d)

11

In [34]:
len(c - d)

2

In [175]:
# union
b = {77, 43, 78, 45}

a.union(b)

{('str', 1, 32.2), 1, 2, 3, 4, 43, 45, 5, 77, 78}

In [176]:
#intersection
a & b

set()

In [177]:
# a-b - only in a

a - b

{('str', 1, 32.2), 1, 2, 3, 4, 5}

In [178]:
#b-a - only in b
b - a

{43, 45, 77, 78}

In [174]:
# Indexing is not allowed in Set
# hence no question of reassign the value or slicing

a[::-1]

TypeError: 'set' object is not subscriptable

In [179]:
# takes 1 argument but as diff element like extend in list
a.update((101, 111, 112, 113))
a

{('str', 1, 32.2), 1, 101, 111, 112, 113, 2, 3, 4, 5}

In [180]:
# removes arbitary value - takes no argument (pop takes index but in set indexing is not allowed)
a.pop()
a

{('str', 1, 32.2), 101, 111, 112, 113, 2, 3, 4, 5}

In [181]:
a.pop(0)
a

TypeError: pop() takes no arguments (1 given)

In [182]:
len(a)

9

In [183]:
a.clear()

In [184]:
a

set()

In [185]:
b = {77, 43, 78, 45}

b.remove(78)
b

{43, 45, 77}

In [186]:
set_max = {3, 56, 76, 23, 43.22, 168, 534, 45, 59, 32, 34.9}

max(set_max)

534

In [188]:
set_min = {3, 56, 76, 23, 43.22, 168, 534, 45, 59, 32, 34.9}

min(set_min)

3

In [26]:
set = {3, 56, 76, 23, 43.22, 168, 534, 45, 59, 32, 34.9}

In [27]:
set.find(3)

AttributeError: 'set' object has no attribute 'find'

In [28]:
3 in set

True

In [29]:
set_cpy = set.copy()
set_cpy

{3, 23, 32, 34.9, 43.22, 45, 56, 59, 76, 168, 534}

In [30]:
# always Unique - hence no
set.count(3)

AttributeError: 'set' object has no attribute 'count'

In [31]:
a = {1, 2, 3, 4, 5}
b = {4, 5, 6, 7, 8}

In [32]:
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [33]:
a - b

{1, 2, 3}

In [35]:
a * 3

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [36]:
a * a

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [37]:
a + 3

TypeError: unsupported operand type(s) for +: 'set' and 'int'

In [38]:
sorted_set = sorted(a)

In [39]:
sorted_set

[1, 2, 3, 4, 5]

In [41]:
ser_rev = a.reverse()

AttributeError: 'set' object has no attribute 'reverse'

In [42]:
a = {1, 2, 3, 4, 5}
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5)]

In [44]:
del b

In [45]:
b

NameError: name 'b' is not defined

## Dictionaries
* Collection of key - value pairs
* Syntax: { }
* MUTABLE
* Collection of {K1: V1, K2: V2, K3: V3}
* Example: {RN1: N1, RN2: N2, RN3: N3}
* Maps, Hash Maps

In [189]:
# empty dict
dict = {}
type(dict)

dict

In [190]:
emp = {"sanjay": [30, 35], "ram": [25, 30]}

emp

{'sanjay': [30, 35], 'ram': [25, 30]}

In [191]:
emp_2 = {"sanjay": [31, 37], "nitin": [22, 25], "subodh": [20, 22]}

In [192]:
emp.update(emp_2)

In [193]:
emp

{'sanjay': [31, 37], 'ram': [25, 30], 'nitin': [22, 25], 'subodh': [20, 22]}

In [ ]:
### Accessing the Dictonary - accessed by Key - Dict['Key']

In [201]:
dict1 = { "name": "Pankaj", 
         1: [1, 2, 3], 
         2: 34, 
         'Ram': {1: 5, 7: 'notes'},
         'days': ['Sunday', 'Monday'] }

In [202]:
dict1['name']

'Pankaj'

In [203]:
dict1['days']

['Sunday', 'Monday']

In [ ]:
# assigning / altering /modifing + adding

In [204]:
dict1['name'] = ' Rohit Sharma'
dict1['city'] = ['Pune', 'Aurangabad', 'Hyderabad']

dict1

{'name': ' Rohit Sharma',
 1: [1, 2, 3],
 2: 34,
 'Ram': {1: 5, 7: 'notes'},
 'days': ['Sunday', 'Monday'],
 'city': ['Pune', 'Aurangabad', 'Hyderabad']}

In [205]:
# accessing dict inside dict
dict1['Ram'][7]

'notes'

In [206]:
del dict1

In [207]:
dict1

NameError: name 'dict1' is not defined

In [209]:
dict()

{}

In [ ]:
## Various Methods on Dictonary

In [210]:
dict1 = {
    'a': ['Apple', 'Arm', 'Angle', 'Alok'],
    'b': ['Banana', "Butter", 'Bold', 'Bike'],
    'c': ['Cat', 'Cow', 'Chill', 'Camera'],
    'd': ['Don', 'Dairy', 'Dog', 'Deep']
}

In [211]:
dict1.get('a')

['Apple', 'Arm', 'Angle', 'Alok']

In [212]:
dict1.get(1, 'Huh?')

'Huh?'

In [213]:
dict1.get('app', 'No key present')

'No key present'

In [ ]:
# above 1 & app keys are not present in dict1,returns none/specified value but not the error
# if we try assessing throws error as below

In [214]:
dict1[1]

KeyError: 1

In [215]:
dict1['app']

KeyError: 'app'

In [ ]:
################## Methods on Dict #######################

In [216]:
dict1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [217]:
dict1.values()

dict_values([['Apple', 'Arm', 'Angle', 'Alok'], ['Banana', 'Butter', 'Bold', 'Bike'], ['Cat', 'Cow', 'Chill', 'Camera'], ['Don', 'Dairy', 'Dog', 'Deep']])

In [218]:
# converting dict in string for printing purpose
str(dict1)

"{'a': ['Apple', 'Arm', 'Angle', 'Alok'], 'b': ['Banana', 'Butter', 'Bold', 'Bike'], 'c': ['Cat', 'Cow', 'Chill', 'Camera'], 'd': ['Don', 'Dairy', 'Dog', 'Deep']}"

In [219]:
d = {'God': 'ShriRam', 'Place': 'Ayodhya'}

print('created a dict : ' + str(d))

created a dict : {'God': 'ShriRam', 'Place': 'Ayodhya'}

In [220]:
# we get list for (key,value)
dict1.items()

dict_items([('a', ['Apple', 'Arm', 'Angle', 'Alok']), ('b', ['Banana', 'Butter', 'Bold', 'Bike']), ('c', ['Cat', 'Cow', 'Chill', 'Camera']), ('d', ['Don', 'Dairy', 'Dog', 'Deep'])])

In [221]:
d = dict1.items()
# done using enumarate not for loop

In [222]:
d[0][1]

TypeError: 'dict_items' object is not subscriptable

In [223]:
new_dict = {
    'color': 'Red',
    "Sub": 'Stats',
    "Teacher": 'Somenath',
    "Place": 'Pune',
    'Marks': 'First Class',
    1: 277
}

In [224]:
# inserting a new key 1 at a time setdefault(key,default='None')

new_dict.setdefault('Placement', 'IBM')
new_dict

{'color': 'Red',
 'Sub': 'Stats',
 'Teacher': 'Somenath',
 'Place': 'Pune',
 'Marks': 'First Class',
 1: 277,
 'Placement': 'IBM'}

In [225]:
new_dict.setdefault('Mode')
new_dict

{'color': 'Red',
 'Sub': 'Stats',
 'Teacher': 'Somenath',
 'Place': 'Pune',
 'Marks': 'First Class',
 1: 277,
 'Placement': 'IBM',
 'Mode': None}

In [226]:
# creating dict from seq & assign value --- dict.fromkeys(seq,value)
lst = [1, 2, 3, 4, 5]
d = {}
d.fromkeys(lst, 'Value')

{1: 'Value', 2: 'Value', 3: 'Value', 4: 'Value', 5: 'Value'}

In [227]:
type(new_dict)

dict

In [228]:
cpy = new_dict.copy()
cpy

{'color': 'Red',
 'Sub': 'Stats',
 'Teacher': 'Somenath',
 'Place': 'Pune',
 'Marks': 'First Class',
 1: 277,
 'Placement': 'IBM',
 'Mode': None}

In [229]:
cpy.clear()

In [230]:
cpy

{}

In [231]:
Dictionary1 = {
    'A': 'Ahmedabad',
    'B': 'Ball',
    'C': 'Cricket',
    'w': 'weither Normal',
    'Type': 'ODI',
    'overs': 50,
    'ballers': 5
}

In [232]:
# removes Specified key & return corresponding Value
Dictionary1.pop('B')

'Ball'

In [233]:
Dictionary1

{'A': 'Ahmedabad',
 'C': 'Cricket',
 'w': 'weither Normal',
 'Type': 'ODI',
 'overs': 50,
 'ballers': 5}

In [234]:
# removes arbitory element and return key valuye pair tuple
Dictionary1.popitem()

('ballers', 5)

In [235]:
Dictionary1.pop('No Key', 'Key is not Present')

'Key is not Present'

In [236]:
Dictionary1.popitem()

('overs', 50)

In [237]:
# dict with Tuple, List & Set
fd = {
    "Fruit": ["Apple", "Orange", "Banana"],
    "Vegetables": ("Eat", "Your", "Greens"),
    'Market': {'Pune', 'Nanded', 'Latur'}
}

In [238]:
# dict with Tuple & List
food = {
    "Fruit": ["Apple", "Orange", "Banana"],
    "Vegetables": ("Eat", "Your", "Greens")
}

In [239]:
# Access a List Item within a Dictionary

food['Fruit'][2]

'Banana'

In [240]:
# updating
food['Fruit'][1] = 'WaterMelon'
food

{'Fruit': ['Apple', 'WaterMelon', 'Banana'],
 'Vegetables': ('Eat', 'Your', 'Greens')}

In [241]:
planet_size = {"Earth": 40075, "Saturn": 378675, "Jupiter": 439264}
del planet_size['Jupiter']
planet_size

{'Earth': 40075, 'Saturn': 378675}

In [242]:
'Earth' in planet_size

True

In [49]:
dict1 = {'a': 1, 'b': 2, 'c': 3}


def count_keys(dict):
    count = 0
    for i in enumerate(dict):
        count += 1
    return count


print(count_keys(dict1))

3

In [51]:
len(dict1.keys())

3

In [52]:
len(dict1.values())

3

In [59]:
a = {'a': 1, 'b': 2, 'c': 3}
b = {'d': 4, 'e': 5, 'f': 6}

In [60]:
a * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [61]:
a * a

TypeError: unsupported operand type(s) for *: 'dict' and 'dict'

In [62]:
a + a

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [63]:
a - a

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'

In [64]:
a + 3

TypeError: unsupported operand type(s) for +: 'dict' and 'int'

In [ ]:
#[];  then ; says end of line